table,
th,
td{
  border: 1px solid #333;
  border-collapse: collapse;
}

body {
    background: rgb(204,204,204); 
  }
  page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.1cm rgba(0,0,0,0.5);
    font-family: Tahoma;
  }
  page[size="A4"] {  
    width: 21cm;
    height: 29.7cm; 
  }
  page[size="A4"][layout="portrait"] {
    width: 29.7cm;
    height: 21cm;  
  }

p{
  text-align: justify;
}

.margin{
    margin-left: 100px;
    margin-right: 80px;
}

.tab{
  tab-size: 2px;
}

@page {
  margin: 0 auto;
  margin-left: 0.98in;
  margin-right: 0.7in;
  margin-top: 1.44in;
  margin-bottom: 0.56in;
  font-family: Tahoma !important;

}

.noborder{
  border-style: none;
}